@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100vh;
}

.orbitron-title {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
